* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
}

body {
    background-image: url("./background.png") !important;
    overflow: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 9vw;
    margin-top: 0;
    margin-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu ul li {
    position: relative;
    width: 13.5vw;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    height: 5vh;
}

.menu ul li a:hover {
    background-color: rgb(255, 0, 0);
}

li > a {
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-content: center;
}

a > p {
    font-weight: bolder;
    font-size: x-large
}

.dropdown {
    flex: 1;
    display: flex;
    background-color: rgb(125, 35, 35);
    color: white;
}

.dropdown-menu {
    display: none !important;
    position: absolute;
    background-color: rgb(125, 35, 35);
    top: 100%;
    left: 0;
}

.text-content p {
    margin: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

.text-content {
    display: flex;
    flex-direction: row;
}

.left .mid .right {
    flex: 1;
    color: white;
    background-color: gray;
    padding: 20px;
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.image-view {
    flex: 1;
    display: flex;
}

.image-view > a {
    flex: 1;
}

.text-content {
    flex: 1;
}

.history-main {
    display: flex;   
}

.history-main > div {
    flex: 1;
}

.history-main > img {
    flex: 2;
}

.about-main {
    display: flex;
    flex-direction: row;
}

.big {
    flex: 6
}

.small {
    flex: 4;
}

.dropdown-menu li a svg, .dropdown-menu li a p {
    text-align: center;
}

div > .big, .small {
    color: white;
    background-color: darkslategray;
    font-size: 20px;
    margin: 15px;
}

.title h1 {
    font-size: 50px;
}

.title p {
    font-size: 20px;

}

.title p, h1, h2 {
    margin: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 14%;
    border: 1px solid #ddd;
    margin: 5px;
    vertical-align: top;
    height: 90px;
}

th {
    background-color: #f58f8f;
    color: white;
}

th.weekend {
    background-color: lightgray;
}

td.weekend {
    background-color: #f9f9f9;
}

td {
    background-color: #ffe9e9;
}

.date {
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
    display: block;
}

.event-title {
    font-weight: bold;
    color: #1d1b50;
}

.event-type {
    font-size: 0.85em;
    color: #444;
}

.time {
    font-weight: bold;
    color: #1d1b50;
    margin-top: 5px;
}