* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

body {
    background-color: darkslategray;
    overflow: scroll;
}

nav {
    background-color: gray;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    background-color: rgb(255, 0, 0);
}

.dropdown {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: rgb(125, 35, 35);
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(125, 35, 35);
    top: 100%;
    left: 0;
}

.dropdown-menu li a {
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.text-content {
    display: flex;
    flex-direction: row;
}

.left, .mid, .right {
    flex: 1;
    color: white;
    background-color: gray;
    padding: 20px;
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.image-view {
    flex: 1;
    display: flex;
}

.image-view > a {
    flex: 1;
    padding: 10%;
    margin: 10px;
}

.text-content {
    flex: 1;
}